<%= javascript_pack_tag 'movingshow' %>

<p id="notice"><%= notice %></p>

<h1 class="">Posts</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Thread title</th>
      <th>look this thread</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody class="">
    <% @posts.each do |post| %>
      <tr>
        <td class=""><%= post.thread_title %></td>
        <td class="hoge"><%= link_to 'Show', test_path(thread_title: post.thread_title) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', posts_newpost_path %>
