<% @threads.each do |t| %>

	<div class="card">
		
		<div class="card-body">
			<%= t.email %>

			<%= t.created_at %>
			<br>
			
			<%= t.content %>
			<br>
		</div>
	</div>

<% end %>

<br>


<%= form_with  model: @post do |f|%>
	ここにemailこれを固定できるようにしたい)
	<br>
	
	<%= f.text_field :email, value: current_user.email%>
	<br>
	ここにスレタイ(これも固定したい)
	<br>
	
	
	<%= f.text_field :thread_title, value: @thread_title %>
	<br>
	
	ここに書き込みの内容
	<br>
	
	<%= f.text_area :content %>
	<%= f.submit '書き込み'%>
<% end %>
