<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<!-- popper.js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<!-- bootstrap.js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
		  <%= link_to 'Home', posts_path%>
      </li>
    </ul>
	<div>
	<form class="serch-form">
		<%= form_with url: posts_path, method: :get, local: true do |form| %>
			<%= form.text_field :search%>
			<%= form.submit 'search', name: nil%>
		<% end %>
	</form>
	</div>
	<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
		<!-- ユーザーがログインしていた時の処理 -->

		<h5> メールアドレス： <%= current_user.email %> </h5>
		<%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
	<% else %>
		<!-- ユーザーがログインしていなかった時の処理 -->
		<h5> 現在ログインしていません </h5>
		<%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
		<%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
	<% end %>

  </div>
</nav>
